.Creation-cameraContainer {
  width: 36vw;
  height: 100vh;

  align-items: center;
}

.Creation-paddingDiv {
  padding-top: 128px;
}

.Creation-canvasContainer {
  width: 64vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.Creation-videoContainer {
  width: 32vw;
  height: 18vw;
  
  background-color: var(--black);

  border-radius: 15px;

  overflow: hidden;
  position: relative;
}

.Creation-video {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);

  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  top: 0;
  left: 0;
}

.Creation-canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);

  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  top: 0;
  left: 0;
}

.Creation-countdownCanvas {
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  top: 0;
  left: 0;
}

.Creation-controls {
  width: 32vw;
}

.Creation-title {
  margin: 0px;
  padding-top: 24px;
  width: 32vw;
  display: flex;
  align-items: normal;
  font-size: 24px;
  color: var(--blood);
}

.Creation-line {
  margin: 0px;
  background-color: var(--blood);
  border: none;
  height: 1px;
}

.Creation-button {
  margin-top: 12px;
  /* margin-bottom: 24px; */
  width: 100%;
  height: 32px;
  border: 1px solid var(--flame);
  border-radius: 5px;
  
  color: var(--flame);
  font-size: var(--m);
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;

  display: flex;
  /* padding-left: 24px; */
  align-items: center;
}

.Creation-buttonContainer {
  width: 128px;
  position: absolute;
  bottom: 64px;
  right: 64px;
}

/* .Creation-canvas {
  align-items: center;
  justify-content: center;
} */

.Creation-propControl {
  /* color: var(--falme) */
  justify-content: space-between;
  align-items: center;

  margin-top: 12px;
}

.Creation-propControl-text {
  color: var(--flame)
}
