.Instructions-sidebar {
  background-color: var(--flame);
  width: 24vw;
  height: 100vh;
}

.Instructions-container {
  width: 76vw;
  height: 100vh;
  /* margin-top: 64px; */
  /* padding: 96px 64px */
}

.Instructions-paddingDiv {
  margin-top: 64px;
  padding: 96px 64px 0px;
}