.DemoConstruct-container {
  margin-top: 64px;
  height: 90vh;
  justify-content: space-evenly;
  align-items: center;
}

.DemoConstruct-move-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.DemoConstruct-move-left-bound {
  /* display: flex;
  justify-content: center; */
  width: 16vw;
}

.DemoConstruct-move-left {

  width: 64px;
  height: 130px;

  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url(/client/src/public/index_finger.png);
}

.DemoConstruct-move-right-bound {
  display: flex;
  justify-content: center;
  width: 8vw;
}

.DemoConstruct-move-right {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);


  width: 64px;
  height: 130px;

  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url(/client/src/public/index_finger.png);
}